<div id="home">
    <div id="about-me">
            <h2>
                Hi there, <br /> I'm Gabriele!
                <br />
                <a href="https://www.linkedin.com/in/gabriele-gatti-87b321190/" title="Go to my Linkedin profile"><i class="fa fa-linkedin-square"></i></a>
                <a href="https://github.com/Gabri432" title="Go to my Github profile"><i class="fa fa-github-square"></i></a>
            </h2>
        <div id="description">
            <p> 
                I'm an italian aspiring software developer.
            </p>
        </div>
    </div>
    <div id="more-me">
        <h2>About me</h2>
        <p>
            I'm currently studying computer science at the University of Milan. <br />
            My favourite programming language is Java, but I also enjoy Python, Go, and Typescript. <br />
            Among the tools that I use the most there are Angular, Github and VSCode. <br /><br />
            Among my passions there are sports such as Basketball, Olympic Lifting and Rugby. <br />
            Other than that I love Math and Science. <br /><br />
            Other than my native language, italian, I do speak english and little french. <br />
            I can also read some spanish.
        </p>
    </div>
    <hr>
    <div id="my-projects-section">
        <app-my-projects></app-my-projects>
    </div>
    <hr>
    <div id="my-blog-section">
        <app-blog-displayer></app-blog-displayer>
    </div>
    <br />
</div>
